
/* 1295 : poster-image , skills-grid, project-images */
/* navbar : 900 */

header{
    display: flex;
    margin: 24px 80px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    width: 40px;
}

.logo p{
    margin-left: 10px;
}

nav {
    display: flex;
    gap: 3vw;
}

nav a{
    color :black;
    text-decoration: none;
}

.resume-button{
    color:white;
    background-color: black;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 16px 20px;
    cursor: pointer;
    margin-right: 32px;
    transition: ease 0.2s;
    color: white;
    text-decoration: none;
}

.resume-button:hover{
    background-color: #555;
}

.download-image{
    height: 20px;
    width: 20px;
    margin-left: 8px;
}
.hamburger-menu-icon{
    display: none;
}

#my-mobile-nav{
    display: none;
}

@media screen  and (max-width:900px) {
    header {
        margin: 16px;
    }
    nav {
        display: none;
    }
    .resume-button {
        display: none;
    }
    .hamburger-menu-icon{
        display: block;
        color: black;
        padding: 14px 16px;   
       
    }
    #my-mobile-nav a{
        background-color: black;
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        border: 2px solid black;
        margin: 0px;
    }

    #my-mobile-nav a:hover{
        background-color: #ddd;
        color: black;
    }

    .menu-image{
        height: 30px;
        width: 30px;
    }


}


/* ----------------------------------------------------POSTER-------------------------------------------------------------------------------------------- */

.poster{
    margin: 60px 80px;
}

.poster-content{
    margin: 110px 32px;
    max-width: 600px;
}

.poster-heading{
    padding-top: 20px;
}
.poster-text{
    margin-right: 50px;
    margin-top: 32px;
    color: #71717A;
}

.poster-image{
    position: absolute;
    top: 140px;
    right: 94px;
}
.man-image{
    width: 815px;
    height: 546px; 
}


.poster-contact{
    position: relative;
    bottom: 50px;
    left: 20px;
}

.poster-contact img{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 18px;
    margin: 16px;
}

@media screen and (max-width:900px) {
   
    .poster {
        margin: 16px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

    }

    .poster-image{
        display: flex;
        position: static;
        justify-content: center;
        margin-right: 30vw;
    }

    .man-image{
        width: 495px;
        height: 332px;
    }
    .poster-content{
        margin: 0px;
        padding-top: 40px;
    }
    
    .poster-heading{
        padding-top: 0px;
    } 

    .poster-heading p{
        font-size: 32px !important;
        line-height: 28px !important;
    }
    .poster-text{
        margin-right: 0px;
    }
    .outlined{
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000 !important;
    }
    .poster-contact{
        position: static;
        padding-top: 24px;
    }
    .poster-contact img{
        padding: 14px;
        margin:0px;
        margin-right: 24px;
    }

@media screen and (max-width: 407px){
    .poster-heading p{
       font-size: 28px !important;
       line-height: 24px !important;
   }
  
}
@media screen and (max-width: 360px){
    .poster-heading p{
       font-size: 24px !important;
       line-height: 20px !important;
   }
  
}

}



/* ---------------------------------------------------------SKILLS--------------------------------------------------------------------------------------- */

.skills{
    margin: 60px 112px;
    text-align: center;
    margin-top: -60px;
}

.heading{
    padding: 40px;
}

.skills-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 175px);
    justify-content: space-around;
    gap: 40px;
}

.a-skill{
    border: 2px solid black;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: ease 0.5s;
}

.a-skill:hover {
    transform: translateY(-10px) ;
}


.a-skill img{
    padding: 37px 24px;
    height: 56px;
    width: 56px;
}

.a-skill p{
    padding: 37px 24px;
    margin: 0px;
    padding-top:0px ;
}

@media screen and (max-width:900px) {
    .skills {
        margin: 16px;
        margin-bottom: 64px;
    }
    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        justify-content: center;
        gap: 10vw;
    }
    .a-skill {
        width: 40vw;
    }
    .a-skill img {
        padding: 18px 12px;
        height: 36px;
        width: 36px;
    }
    .a-skill p {
        padding: 18px 12px;
    }
    .heading{
        font-size: 32px !important;
        line-height: 28px !important;
    }
}

/* -----------------------------------------------------------EXPERIENCE------------------------------------------------------------------------------------- */

.experience-background{
    background-color: black;
    color: white;
}

.experience{
    padding: 0px 112px;
    padding-bottom: 40px;
}

.experience-heading{
    text-align: center;
    padding-top:10px;
}

.experience-container{
    margin-top : 20px;
}

.latest-experience{
    margin-top: 20px;
}

.an-experience{
    border: 1px solid #71717a;
    border-radius: 10px;
    padding: 30px 24px;
    margin-bottom: 32px;
    transition: ease 0.2s;
}

.an-experience:hover{
    border: 1px solid #27272a;
    background-color: #27272a;
    border: none;
}

.an-experience-company{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.company-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.gradeup-image{
    height: 30px;
    width: 66px;
}

.gdsc-image{
    height: 50px;
    width: 60px;
}


.company-name{
    margin-left: 30px;
}

.job-duration-container{
    text-align: right;
}

.an-experience-text{
    color: #D4D4D8;
}

@media screen and (max-width:900px) {
    .heading{   
        font-size: 32px !important;
        line-height: 28px !important;
    }
    .experience-heading{
        padding-top: 0px;
    }
    .experience {
        padding: 16px;
    }
    .experience-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .an-experience {
        padding-left: 24px;
    }
    .an-experience-company {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .company-container {
        display: flex;
        align-items: center;
    }
    .company-name {
        margin-left: 30px;
        font-size: 20px !important;
        line-height: 24px !important;
    }
    .job-duration-container {
        text-align: left;
    }
    .latest-experience {
        margin-top: 0px;
    }
  
    .an-experience-text {
        font-size: 16px;
        line-height: 20px;
    }


}

@media screen and (max-width: 360px){
    .heading {
       font-size: 28px !important;
       line-height: 24px !important;
   }
  
}

/* ----------------------------------------------------------ABOUT-------------------------------------------------------------------------------------- */

.about{
    padding: 60px 112px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.about img{
    height: 572px;
    width: 525px;
}

.about-heading{
    padding-bottom: 20px;
}

.about-text-para{
    color: #71717A;
}

@media screen  and (max-width:900px) {
    
    .about{

        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding-bottom: 64px;
    }

    .about-heading{
        font-size: 32px !important;
        line-height: 28px !important;
    }

    .about img{
        padding-top: 24px;
        height: 366px;
        width: 336px;
    }

}
/* ---------------------------------------------------------PROJECT--------------------------------------------------------------------------------------- */

.project-background{
    color: white;
    background-color: black;
}
.projects{
    padding: 40px 112px;
}
.project-heading{
    text-align: center;
    padding-bottom: 20px;
}

.a-project{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
}

.project-image{
    height: 300px;
    width: 660px;
    border: 8px solid #27272a;
    border-radius: 4px;
    margin-bottom: 4vw;
}
.project-content{
    margin-left: 4vw;
}

.second-project-content{
    margin-left: 0px;
    margin-right: 50px;
}
.a-project-heading{
    margin-top: -10px;
}
.project-text{
    color: #71717A;
    margin-top:-10px;
}

.redirect-image{
    height: 20px;
    width: 20px;
}

@media screen and (max-width:900px) {
    .projects {
        padding: 16px;
        padding-top: 32px;
    }
    .project-heading {
        font-size: 32px !important;
        line-height: 28px !important;
    }
    .a-project {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .project-image {
        height: 22vh;
        width: 90vw;
    }
    .project-content {
        margin-left: 0px;
    }
    .second-project-content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .second-project-div{
        flex-direction: column-reverse;
    }
    .a-project-heading {
        margin-top: 0px;
    }
    .project-text {
        margin-top: 0px;
    }
    .redirect-image {
        height: 16px;
        width: 16px;
    }
    
}

/* -----------------------------------------------------------CONTACTS------------------------------------------------------------------------------------- */

.contacts{
    padding: 80px 112px;
    display: flex;
    gap: 108px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
input{
    width: 500px;
    margin-bottom: 20px;
    padding: 18px 24px;
    color: #71717A;
    border-radius: 4px;
    border: 1.4px solid black;
    font-family: 'Sora', sans-serif;

}

textarea{
    resize: vertical;
    margin-bottom: 20px;
    padding: 18px 24px;
    color: #71717A;
    border-radius: 4px;
    border: 1.4px solid black;
    font-family: 'Sora', sans-serif;

}

.contact-button{
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    transition: ease 0.2s;
    border: 2px solid black;
    margin-right: 12px;
    cursor:pointer;

}

.contact-button:hover{
    background-color: #555;
    border: 2px solid #555;
}

.contact-links{
    display: flex;
    gap: 24px;
    align-items: center;
}

.contact-links img{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 18px; 
    margin: 0px 12px;
}

.contact-text{
    margin-top: 20px;
    padding: 0px;
}

.phone-number{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.gmail{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.phone-number img{
    height: 30px;
    width: 30px;
}
.gmail img{
    height: 30px;
    width: 30px;
}

@media screen and (max-width:900px) {
    .contacts {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 32px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    input {
        width: 80vw;
    }
    textarea {
        width: 80vw;
    }
    .contact-button {
        padding: 12px 16px;
        margin-top: -4px;
    }
    .contact-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-links img {
        padding: 14px;
        margin-right: 16px;
        margin-left: 0px;
    }
    
    .contact-heading {
        font-size: 32px !important;
        line-height: 28px !important;
    }

    .phone-number img{
        height: 20px;
        width: 20px;
    }
    .gmail img{
        height: 20px;
        width: 20px;
    }
        .outlined{
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000 !important;
    }
}

/* --------------------------------------------------------FOOTER---------------------------------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 24px 112px;
    align-items:center ;
    justify-content: space-between;
}


footer img{
    height: 40px;
    width: 40px;
}
.footer-name{
    float: right;
    margin-left: 12px;
}
.footer-right{
    text-align: right;
}
.footer-logo{
    display: flex;
    align-items: center;
}
@media screen and (max-width:900px) {
    footer {
        padding: 16px;
    }

}